@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

a {
  /* color: #3498db; */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

body {
  font-family: 'Roboto';
}

.dark a {
  text-decoration: none; /* Dark mode'da alt çizgiyi kaldırır */
}

.dark a:hover {
  text-decoration: none; /* Dark mode hover durumunda da alt çizgiyi kaldırır */
}
